SARCommonHandler/WebContent/wsdl/CommonHandlerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://commonagent.sar.tsmc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://commonagent.sar.tsmc.com" xmlns:intf="http://commonagent.sar.tsmc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://commonagent.sar.tsmc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="manageEventHandlerRequest_Sync">
    <complexType>
     <sequence>
      <element name="x0" type="xsd:string"/>
      <element name="x1" type="xsd:string"/>
      <element name="x2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="manageEventHandlerRequest_SyncResponse">
    <complexType>
     <sequence>
      <element name="manageEventHandlerRequest_SyncReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="manageTimerHandlerRequest_Sync">
    <complexType>
     <sequence>
      <element name="x0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="manageTimerHandlerRequest_SyncResponse">
    <complexType>
     <sequence>
      <element name="manageTimerHandlerRequest_SyncReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="manageEventHandlerRequest_SyncResponse">

      <wsdl:part element="impl:manageEventHandlerRequest_SyncResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="manageEventHandlerRequest_SyncRequest">

      <wsdl:part element="impl:manageEventHandlerRequest_Sync" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="manageTimerHandlerRequest_SyncRequest">

      <wsdl:part element="impl:manageTimerHandlerRequest_Sync" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="manageTimerHandlerRequest_SyncResponse">

      <wsdl:part element="impl:manageTimerHandlerRequest_SyncResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CommonHandlerImpl">

      <wsdl:operation name="manageEventHandlerRequest_Sync">

         <wsdl:input message="impl:manageEventHandlerRequest_SyncRequest" name="manageEventHandlerRequest_SyncRequest">

       </wsdl:input>

         <wsdl:output message="impl:manageEventHandlerRequest_SyncResponse" name="manageEventHandlerRequest_SyncResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="manageTimerHandlerRequest_Sync">

         <wsdl:input message="impl:manageTimerHandlerRequest_SyncRequest" name="manageTimerHandlerRequest_SyncRequest">

       </wsdl:input>

         <wsdl:output message="impl:manageTimerHandlerRequest_SyncResponse" name="manageTimerHandlerRequest_SyncResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CommonHandlerImplSoapBinding" type="impl:CommonHandlerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="manageEventHandlerRequest_Sync">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="manageEventHandlerRequest_SyncRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="manageEventHandlerRequest_SyncResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="manageTimerHandlerRequest_Sync">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="manageTimerHandlerRequest_SyncRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="manageTimerHandlerRequest_SyncResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CommonHandlerImplService">

      <wsdl:port binding="impl:CommonHandlerImplSoapBinding" name="CommonHandlerImpl">

         <wsdlsoap:address location="http://localhost:8080/SARCommonHandler/services/CommonHandlerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
